.sideBar {
    width: 270px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0px 0px 5px 2px #c0c0c03d;
    z-index: 9999;
    transition: all ease .4s;
}

.collapseSideBar {
    width: 90px;
}


.collapseSideBar h1 {
    background-image: url(../assets/imgs/logo-test-small.svg) !important;
    background-size: 35px;
    height: 40px;
    margin: 39px auto !important;
    width: 90px;
}

.sideBar h1 {
    margin: 42px auto;
    transition: all ease .1s;

}


.menuSideBar {
    padding: 0;
}

.menuSideBar li {
    height: 50px;
    margin: 15px;
    border-radius: 14px;
    list-style-type: none;
    display: flex;
    align-items: center;
    transition: all ease .4s;
}

.menuSideBar li:hover {
    background-color: #d8e9ff;
}

.menuSideBar>.active {
    background-color: #2781ff;
}

.menuSideBar>.active:hover {
    background-color: #2781ff;
}

.menuSideBar>.active a {
    color: white;
}

.menuSideBar li a {
    width: 300px;
    height: 100%;
    padding: 2px 15px 2px 0;
    align-items: center;
    display: flex;
    /* display: block; */
    white-space: nowrap;
}

.menuSideBar li a span {
    opacity: 1;
    transition: all ease .2s;
}

.collapseSideBar li a span {
    opacity: 0;
}

.menuSideBar li i {
    content: '';
    /* margin-left: 20px; */
    width: 58px;
    height: 25px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px;

}

.menuSideBar li .dashboardItem {
    background-image: url(../assets/icons/dashboard.svg);
}

.menuSideBar .active .dashboardItem {
    background-image: url(../assets/icons/dashboard-white.svg);
}

.menuSideBar li .usersItem {
    background-size: 19px;
    background-image: url(../assets/icons/user.svg);
}

.menuSideBar .active .usersItem {
    background-size: 19px;
    background-image: url(../assets/icons/user-white.svg);
}

.menuSideBar li .propertiesItem {
    background-image: url(../assets/icons/property.svg);
}

.menuSideBar .active .propertiesItem {
    background-image: url(../assets/icons/property-white.svg);
}

.menuSideBar li .notificationsItem {
    background-image: url(../assets/icons/notification.svg);
}

.menuSideBar .active .notificationsItem {
    background-image: url(../assets/icons/notification-white.svg);
}

.menuSideBar a {
    color: black;
    text-decoration: none;
}

.closeSidebar {
    background-image: url(../assets/icons/menu-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

/* End sidebar */

/* Menu */


.headerDashboard nav {
    border-radius: 20px;
    margin: 15px;
    box-shadow: 2px 0px 5px 2px #c0c0c03d !important;
    width: calc(100% - 30px - 270px);
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    transition: all ease .4s;
}

.extendheaderDashboard nav {
    width: calc(100% - 30px - 90px);

}

.headerDashboard nav>div {
    display: flex;
    padding: 15px 60px 15px 30px;
    align-items: center;
    justify-content: center;
}

.headerDashboardMenu {
    gap: 40px;
}

.headerDashboardMenu .notifications {
    margin-left: -5px;
}

/* .headerDashboardMenu .notifications{
    background-image: url(../assets/icons/notification.svg);
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: -10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    overflow: hidden;
}
.headerDashboardMenu .notifications a{
    padding-left: 100px;
} */
.headerDashboardMenu p a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}


.profileNameEmail>p {
    text-align: right;
    margin-right: 20px;
}

.profileNameEmail>p:nth-child(1) {
    font-weight: 600;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.94);
    margin-top: 10px;
    margin-bottom: 3px;
}

.profileNameEmail>p:nth-child(2) {
    margin-top: 3px;
    margin-bottom: 10px;
    /* font-weight: 600; */
    font-size: 12px;
    color: rgb(91, 91, 91);
}

.dashboardProfileSubMenu {
    top: 79px;
    right: auto;
}

.ulProfileSubMenu li {
    list-style-type: none;
    align-items: center;
    display: flex;
}

/* End menu */

.mainDashboard {
    width: calc(100% - 270px);
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: auto 0 auto auto;
    transition: all ease .4s;
    position: relative;
}

.extendDashboard {
    width: calc(100% - 90px);

}

.dashboardTitleDiv {
    padding: 120px 50px 20px 50px;
    display: flex;
    justify-content: space-between;
}

.dashboardTitleDiv p {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    color: rgba(61, 61, 61, 0.907);
    padding-top: 2px;
}

.dashboardTitleDiv p a {
    color: rgba(126, 126, 126, 0.776);
    text-decoration: none;
    transition: all ease .3s;
}

.dashboardTitleDiv p a:hover {
    color: #056dff;
    text-decoration: none;
}

.dashboardContent {
    padding: 0px 50px;
    padding-bottom: 50px;
}


/* Analysis */
/* Charts */
.chart_block_1 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 35px;
    position: relative;
    height: 650px;
    box-sizing: border-box;
    margin-bottom: 35px;
}

.chart_block_2 {
    /* min-height: 610px; */
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 35px;
    position: relative;
    box-sizing: border-box;
}

.titleChat {
    justify-content: space-between !important;
    padding: 0 !important;
    align-items: center !important;
    display: flex !important;
    width: 100% !important;
}

.titleChat>p:nth-child(1) {
    color: rgb(105, 105, 105);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.titleChat>p:nth-child(2) {
    color: rgb(164, 164, 164);
    font-size: 16px;
    padding-top: 2px;
    padding-left: 20px;
    font-weight: 600;
    margin: 0;
}

.titleChat>p:nth-child(2) span {
    color: #4d97ff;
}

/* Chart 1 */


.chart_1 {
    width: 30%;
}

.chart_1>div {
    width: 83%;
    display: flex;
    justify-content: center;
    padding: 40px 0px 20px 0px;
}

.chartInfo {
    justify-content: left !important;
    padding: 0 !important;
}

.chartInfo ul {
    /* display: flex;
    flex-wrap: wrap; */
    padding: 0;
    justify-content: space-around;
    gap: 20px;
}

.chartInfo ul li {
    margin-bottom: 10px;
    list-style-type: none;
    color: rgb(111, 111, 111);
    font-weight: 600;
    align-items: center;
    display: flex;
    gap: 10px;
}

.chartInfo ul li span {
    color: #1d1d1d;
    font-weight: 700;
}

.chartInfo ul li::before {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}

.chartInfo ul .houses:before {
    background-color: rgba(54, 162, 235);
}

.chartInfo ul .townhomes:before {
    background-color: rgba(75, 192, 192);
}

.chartInfo ul .multiFamily:before {
    background-color: rgba(255, 99, 132);
}

.chartInfo ul .condos:before {
    background-color: rgba(255, 206, 86);
}

.chartInfo ul .aparments:before {
    background-color: rgba(255, 159, 64);
}

/* Chart 2 */
.charts_2_3 {
    width: calc(70% - 35px);
    gap: 35px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.chart_2 {
    gap: 35px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: fit-content;
    height: 20%;
}

.chart_2>div {
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 20px 20px 15px 20px;
    box-shadow: 0px 0px 5px 2px #c0c0c03d;
    width: calc(40% - 20px);
    justify-content: space-between;
}

.chart_2>div>div>p:nth-child(1) {
    color: rgb(105, 105, 105);
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.chart_2>div>div>p:nth-child(2) {
    color: #1677ff;
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0 8px 0;
}

.chart_2>div>div>p:nth-child(3) {
    color: #b4b4b4;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0px;
    font-style: italic;
}

.chart_2>div>div>p:nth-child(3) span {
    align-items: center;
    display: inline-flex;
    margin-right: 5px;
    font-style: normal;
}

.chart_2>div>div>p:nth-child(3) span::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 15px;
    background-size: 16px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.chart_2>div>div>p:nth-child(3) .red {
    color: #a80a0a;
}

.chart_2>div>div>p:nth-child(3) .red::before {
    background-image: url(../assets/icons/down-line.svg);
}

.chart_2>div>div>p:nth-child(3) .green {
    color: rgb(10, 168, 13);
}

.chart_2>div>div>p:nth-child(3) .green::before {
    background-image: url(../assets/icons/up-line.svg);
}

.chart2Icon {
    /* background-color: #b2b2b2; */
    background-color: #3b8dff;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.chart2Icon p {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

.propertiesSold .chart2Icon p {
    background-size: 30px;
    background-image: url(../assets/icons/pulse-white.svg);
}

.newUsers .chart2Icon p {
    background-size: 25px;
    background-image: url(../assets/icons/user-white.svg);
}

.propertiesForSale .chart2Icon p {
    background-size: 25px;
    background-image: url(../assets/icons/property-white.svg);
}


/* Chart 3 */
.chart_3 {
    height: calc(80% - 35px);
}

.chart_3 .chart_3Div {
    height: calc(100%) !important;
    width: 100%;
    padding-bottom: 10px;
}


.chart_3 .titleChat>p:nth-child(1) {
    margin-top: 5px;
    margin-bottom: 20px;
}

.chartInfo ul .Y2023:before {
    background-color: rgba(54, 162, 235);
    margin-right: 2px;
}

.chartInfo ul .Y2022:before {
    background-color: rgba(255, 99, 132);
    margin-right: 2px;
}

.chartInfo ul .Y2021:before {
    background-color: rgb(255, 218, 70);
    margin-right: 2px;
}

.chartInfoChart_3 ul {
    display: flex;
}


/* Chart 4 */

.chart_4 {
    width: calc(45% - 17.5px);
}

/* Chart 5 */

.chart_5 {
    width: calc(55% - 17.5px);
    height: auto;
}

.allUsersAnalysis {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    margin-top: 30px;
}

.userRowChart {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}


.userPic {
    width: 25px;
    padding: 4px;
}

.userRowChart .userEmailChart {
    width: 30%;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 600;
}

.userRowChart hr {
    width: 30%;
    height: 3px;
    border-radius: 2px;
    background-color: #d6d6d6;
    border: 0px;
}

.userRowChart .userRoleChar {
    width: 20%;
    text-align: center;
}

.userRowChart .userRoleChart p,
.userRole p {
    padding: 6px 15px;
    border-radius: 10px;
    display: inline;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: max-content;
    margin: auto;
}

.userRowChart .userRoleChart p::before,
.userRole p::before {
    content: '';
    width: 18px;
    margin-left: -4px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.userRowChart .userRoleChart .user,
.userRole .user {
    background-color: #9d9d9d;
}

.userRowChart .userRoleChart .user::before,
.userRole .user::before {
    background-image: url(../assets/icons/userRole.svg);
    background-size: 15px;

}

.userRowChart .userRoleChart .admin,
.userRole .admin {
    background-color: #0064f1;
}

.userRowChart .userRoleChart .admin::before,
.userRole .admin::before {
    background-size: 18px;
    background-image: url(../assets/icons/adminRole.svg);
}

.userRowChart .userRoleChart .manager,
.userRole .manager {
    background-color: #3e85e8;
}

.userRowChart .userRoleChart .manager::before,
.userRole .manager::before {
    background-size: 18px;
    background-image: url(../assets/icons/managerRole.svg);
}

/* Properties */

.propertiesDashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.propertiesDashboard>div {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 70px 1px rgba(38, 42, 76, 0.169);
    width: 45%;
    margin-bottom: 3.3%;
    position: relative;
    transition: all ease .5s;
    cursor: pointer;
}

.propertiesDashboard>div .imageDiv {
    height: 100%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.imageDivDashboard {
    height: auto;
    max-height: 180px;
    overflow: hidden;
    position: relative;
}

.propertiesDashboard>div .imageDiv img {
    width: 100%;
    margin-top: 0px;
    transition: all ease .6s;
    z-index: 10;
}

.locationDash {
    position: absolute;
    margin: 0;
    padding: 5px;
    z-index: 99;
    color: white;
    background-color: #1d1d1d70;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
}

.locationDash {
    align-items: center;
    display: flex;
    padding-left: 10px;
    gap: 5px;
}

.locationDash::before {
    content: '';
    background-image: url(../assets/icons/location-icon.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center center;
}

.propertiesDashboard>div:hover {
    box-shadow: 0 2px 25px 1px rgba(38, 42, 76, 0.373);
}

.propertiesDashboard>div:hover .imageDiv img {
    transform: scale(1.04);
}

/* End Charts */

/* Users */

.allUsers {
    gap: 20px;

}

/* .warningMessageDiv{
    display: flex;
    width: 100%;
    justify-content: right;
    text-align: right;
    align-items: end;
    align-items: center;
    gap: 10px;
} */
/* .warningMessageDiv hr{
    flex-grow: 1;
    height: 2px;
    background-color: #d4d4d4ed;
    border: 0;
    border-radius: 5px;
} */
.warningMessage {
    margin: 0;
    color: rgb(76, 76, 76);
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    gap: 8px;
}

.warningMessage::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/warning.svg);
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
}

.userInfoDiv {
    display: flex;
    width: max-content;
}

.userRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    order: 2;
}

#userActiveRow {
    order: 1 !important;
}

.userNameEmailDiv {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.userName {
    font-weight: 700;
    align-items: center;
    display: flex;
    color: rgba(0, 0, 0, 0.897);
}

#userActiveRow .userName {
    font-weight: 700;
    align-items: center;
    display: flex;
    color: #0064f1;
}

#userActiveRow .you {
    font-weight: 700;
    align-items: center;
    display: flex;
    color: #0064f1;
}

#userActiveRow .you::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: rgba(166, 166, 166, 0.728);
    margin: 0 10px;
}

.userEmail {
    font-weight: 500;
    align-items: center;
    display: flex;
    color: rgba(0, 0, 0, 0.583);
    /* font-style: italic; */
}

.userEmail::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: rgba(166, 166, 166, 0.728);
    margin: 0 10px;
}

.userRole {
    display: flex;
}

.allUsers .userSeparator {
    flex-grow: 1;
    padding: 0 30px;
}

.allUsers .userSeparator hr {
    width: 100%;
    /* display: inline; */
    height: 3px;
    border-radius: 2px;
    background-color: #dfdfdf;
    border: 0;
    margin-right: 20px;
}

.userRole {
    width: fit-content;
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.userRole p {
    margin-right: 0;
}

.editUser {
    margin-left: 20px;
    background-image: url(../assets/icons/edit-user.svg);
    width: 30px;
    height: 30px;
    outline: 0;
    cursor: pointer;
    border: 0px solid gray;
    background-color: #e9e9e9;
    border-radius: 5px;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease .3s;
}

.editUser:hover {
    background-color: #dedede;
}

.editUserDisabled {
    /* opacity: .6; */
    cursor: auto;
    align-items: center;
    transition: all ease .3s;
}

.editUserDisabled:hover {
    background-color: #e9e9e9;
}

/* .editUserDisabled::before{
    content: 'Only admins can edit users';
    padding: 10px;
    box-sizing: border-box;
    color: rgb(93, 93, 93);
    font-weight: 600;
    display: inline-block;
    position: relative;
    left: -170px;
    top: -10px;
    border-radius: 10px;
    background-color: #dfdfdf;
    width: 150px;
    height: 50px;
    opacity: 0;
    transition: all ease .3s;
}
.editUserDisabled:hover::before{
    opacity: 1;
    
} */

.generalModalContent .profileInfo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.generalModalContent .profileInfo div:nth-child(2) p:nth-child(1) {
    /* Name */
    margin-bottom: 5px;
    font-weight: 600;
}

.generalModalContent .profileInfo div:nth-child(2) p:nth-child(2) {
    /* Email */
    margin-top: 0px;
    font-weight: 500;
    color: #959595;
    font-size: 14px;
}

.generalModalContent h4 {
    margin-top: 40px;
}

.chengeUserRole {
    display: flex;
    justify-content: space-between;
}

.deleteUserModalDiv {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    height: 320px;
    width: 500px;
}

.chengeUserRole .roleActive {
    transition: all ease .3s;
    cursor: pointer;
    opacity: 1;
}

.chengeUserRole .roleInactive {
    transition: all ease .3s;
    cursor: pointer;
    opacity: .4;
}

.userEditActions {
    gap: 20px;
    display: flex;
    margin-bottom: 40px;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
}

.deleteUserEditActions {
    gap: 20px;
    display: flex;
    margin-bottom: 40px;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.confirmUserChange,
.deleteUser {
    padding: 10px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;
    transition: all ease .3s;
    cursor: pointer;
}

.confirmUserChange {
    background-color: #3288ff;
    color: white;
}

.confirmUserChange:hover {
    background-color: #1677ff;
    color: white;
}

.deleteUser {
    background-color: #cc3838;
    color: white;
}

.deleteUser:hover {
    background-color: #b41515;
    color: white;
}

/* End Users */



/* Manage Properties */

.managePropertiesFilterDiv {
    padding: 6px 20px;
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
    z-index: 9998;
}

/* results */
.manageProperties{
    align-items: baseline;
}
.manageProperties .propertiesDiv {
    margin-top: 30px;
    justify-content: space-around;
    width: 100%;
}

.manageProperties .propertiesDiv>.propertyDiv {
    width: 350px;
    margin-bottom: 30px;
    cursor: auto;
}

.manageProperties .propertiesDiv>.propertyDiv .editPropertyButton {
    position: absolute;
    padding: 8px 10px;
    right: 10px;
    top: 10px;
}
.manageProperties .propertiesDiv>.propertyDiv:hover .imageDiv img {
    transform: scale(1);
}

.manageProperties .propertiesDiv>.propertyDiv .deletePropertyButton {
    position: absolute;
    padding: 8px 10px;
    left: 10px;
    top: 10px;
}

.deletePropertyModalDiv {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    height: 330px;
    width: 600px;
}


.deletePropertyContent {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 35px;
}

.deletePropertyContent .imgDiv {
    width: 180px;
    height: 110px;
    align-items: center;
    margin-right: 20px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}
.deletePropertyContent .imgDiv img {
    width: 100%;
}
.deletePropertyContent div h3 {
    align-items: center;
    display: flex;
    font-size: 26px;
    margin: 0;
}
.deletePropertyContent div h3 span {
    margin-left: 10px;
    font-size: 18px;
    color: #006aff;
}
.deletePropertyContent div p {
    font-weight: 500;
    color: #707070;
    margin: 10px 0 0 0;
}


.editPropertyModalDiv {

    position: absolute;
    background-color: white;
    border-radius: 5px;
    height: 95vh;
    width: 1620px;
}

.editPropertyModalDiv .generalModalContent h3 {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.editPropertyForm{
    height: 80%;
    width: 100%;
    left: 0;
    padding: 0 40px;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    overflow-y: scroll;
}
/* End Manage Properties */