.properyDetailSection {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
}

.detailProductModalBackground {
    position: fixed;
    z-index: 0;
}

.properyDetailModal {
    display: flex;
    position: relative;
    z-index: 1;
    width: 1300px;
    margin: auto;
    background-color: white;
    height: 100%;
}

/* Images */
.propertyImages {
    width: 60%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 5px;
    justify-content: space-between;
}

.propertyImages .mainImage {
    width: 100%;
    height: 550px;
}

.propertyImages .mainImage {
    position: relative;
    width: 100%;

}

.propertyImages .image {
    width: calc(50% - 2.5px);
    height: fit-content;
}

/* Details */
.propertyDetails {
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 100vh;
    padding: 20px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.propertyDetailslogoDiv p {
    margin: auto;
    margin-bottom: 20px;
    width: 120px;
    height: 30px;
    background-size: 120px;
}

.propertyDetails> .propertyTitleDiv {
    padding: 0 20px;    
}

.propertyDetails> .propertyTitleDiv > .priceDiv {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.propertyDetails> .propertyTitleDiv > .priceDiv h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 0;
}



.propertyDetails> .propertyTitleDiv > .address {
    font-size: 16px;
    margin-top: 20px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 0;
}

.propertyDetails .beds-baths-sqft {
    opacity: .9;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-bottom: 30px;
}

.propertyDetails> .propertyTitleDiv > .contactAgent {
    font-size: 17px;
    width: 100%;
    background-color: #006aff;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-weight: 600;
    transition: all ease .3s;
    margin-bottom: 20px;
}

.propertyDetails> .propertyTitleDiv > .contactAgent:hover {
    background-color: #005bda;
}

.propertyDetails hr {
    border: 1px rgb(218, 218, 218) solid;
    width: 100%;
}


.propertyInfoDiv {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}
.propertyDetails> .propertyInfoDiv {
    padding: 0 20px;    
}

.generalInfoDiv h3,
.descriptionDiv h3 {
    font-size: 22px;
}
.descriptionDiv h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.generalInfoDiv p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 22px 0;
    display: flex;
    align-items: center;
}

.generalInfoDiv p span {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    display: inline-block;
}

.generalInfoDiv .hometype span {
    background-image: url(../assets/icons/hometype-blue.svg);
}

.generalInfoDiv .lotSize span {
    background-image: url(../assets/icons/sqft-blue.svg);
    background-size: 24px;
}

.generalInfoDiv .baths span {
    background-size: 24px;
    background-image: url(../assets/icons/bath-blue.svg);
}

.generalInfoDiv .beds span {
    background-size: 24px;
    background-image: url(../assets/icons/bed-blue.svg);
}

.generalInfoDiv .priceSqft span {
    background-image: url(../assets/icons/price-sqft-blue.svg);
}

.descriptionDiv .descriptionMap {
    border: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 300px;
}

.descriptionDiv p{
    font-size: 15px;
}