.properyDetailSection {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
}

.detailProductModalBackground {
    position: fixed;
    z-index: 0;
}

.properyDetailModal {
    display: flex;
    position: relative;
    z-index: 1;
    width: 1300px;
    margin: auto;
    background-color: white;
    height: 100%;
}

/* Images */
.propertyImages {
    width: 60%;
    min-height: 100vh;
    padding: 0;
    background-color: rgb(235 235 235);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: 5px;
    justify-content: space-between;
}

.propertyImages .mainImage {
    width: 100%;
    height: fit-content;
}

.propertyImages .mainImage {
    position: relative;
    width: 100%;

}

.propertyImages .image {
    width: calc(50% - 2.5px);
    height: fit-content;
}

/* Details */
.propertyDetails {
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 100vh;
    padding: 20px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.propertyDetailslogoDiv p {
    margin: auto;
    margin-bottom: 20px;
    width: 120px;
    height: 30px;
    background-size: 120px;
}

.propertyDetails>.propertyTitleDiv {
    padding: 0 20px;
}

.propertyDetails>.propertyTitleDiv>.priceDiv {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.propertyDetails>.propertyTitleDiv>.priceDiv h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 0;
}



.propertyDetails>.propertyTitleDiv>.address {
    font-size: 16px;
    margin-top: 20px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 0;
}

.propertyDetails .beds-baths-sqft {
    opacity: .9;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-bottom: 30px;
}

.propertyDetails>.propertyTitleDiv>.contactAgent {
    font-size: 17px;
    width: 100%;
    background-color: #006aff;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-weight: 600;
    transition: all ease .3s;
    margin-bottom: 20px;
}

.propertyDetails>.propertyTitleDiv>.contactAgent:hover {
    background-color: #005bda;
}

.propertyDetails hr {
    border: 1px rgb(218, 218, 218) solid;
    width: 100%;
}


.propertyInfoDiv {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.propertyDetails>.propertyInfoDiv {
    padding: 0 20px;
}

.generalInfoDiv h3,
.descriptionDiv h3 {
    font-size: 22px;
}

.descriptionDiv h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.generalInfoDiv p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 22px 0;
    display: flex;
    align-items: center;
}

.generalInfoDiv p span {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    display: inline-block;
}

.generalInfoDiv .hometype span {
    background-image: url(../assets/icons/hometype-blue.svg);
}

.generalInfoDiv .lotSize span {
    background-image: url(../assets/icons/sqft-blue.svg);
    background-size: 24px;
}

.generalInfoDiv .baths span {
    background-size: 24px;
    background-image: url(../assets/icons/bath-blue.svg);
}

.generalInfoDiv .beds span {
    background-size: 24px;
    background-image: url(../assets/icons/bed-blue.svg);
}

.generalInfoDiv .priceSqft span {
    background-image: url(../assets/icons/price-sqft-blue.svg);
}

.descriptionDiv .descriptionMap {
    border: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 300px;
}

.descriptionDiv p {
    font-size: 15px;
}

/* Contact owner */

.contactOwnerModal>.generalModalDiv {
    height: 650px;
    width: 550px;
}

.sendOwnerMessage {
    display: flex;
    justify-content: center;
}

.sendOwnerMessage>button {
    width: 100%;
}

.loaderDetailProperty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loaderDetailProperty .loader {
    width: 70px;
    height: 70px;
    display: inline-block;
    position: relative;
}

.loaderDetailProperty .loader::after,
.loaderDetailProperty .loader::before {
    width: 70px;
    height: 70px;
    background-color: #005bda;
}

.propertyImagesCarouselMobile {
    display: none;
}


/* Pagination */

.paginationDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin: 20px 0 40px 0;
}

.paginationDiv>p,
.paginationDiv>div {
    cursor: pointer;
    transition: all ease .3s;
    /* box-shadow: 0px 0px 5px 2px #adadad68;
    width: 30px;
    height: 30px; */
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationDiv>p:hover,
.paginationDiv>div:hover {
    opacity: .7;
}

.nextPage,
.prevPage {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/arrow-carousel.svg);
    background-position: center center;
    background-size: 15px;
    background-repeat: no-repeat;
}

.prevPage {
    transform: rotate(180deg);
}

.activePage,
.activePage:hover {
    color: #005bda;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 10px;
    background-color: #006aff3a;
    opacity: 1 !important;
}



@media all and (max-width: 1450px) {
    .properyDetailModal {
        width: 1100px;
    }

    .propertyDetails>.propertyTitleDiv>.address {
        font-size: 15px;
    }
}

@media all and (max-width: 1350px) {
    .paginationDiv {
        gap: 20px;
    }
}
@media all and (max-width: 1250px) {
    .properyDetailModal {
        width: 1000px;
    }

    .propertyImages {
        width: 55%;
    }

    .propertyDetails {
        width: 45%;
    }

    
}

@media all and (max-width: 1100px) {
    .properyDetailModal {
        width: 100%;
    }

    .propertyImages {
        width: 50%;
    }

    .propertyDetails {
        width: 50%;
    }


}

@media all and (max-width: 900px) {

    /* Carousel */
    .propertyImagesCarouselMobile {
        display: block;
        width: 100%;
        height: fit-content;
        margin: 0 auto;
    }

    .carousel {
        position: relative;
        height: 100%;
    }

    .carouselImages {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .carouselImages ul {
        padding: 0;
        margin: 0;
        white-space: nowrap;
        width: 100%;
        min-height: 0;
        height: fit-content;
    }

    .carouselImages ul li {
        display: inline;
    }

    .carouselImages ul>li>img {
        height: 400px;
    }

    .leftArrow,
    .rightArrow {
        position: absolute;
        top: 52%;
        cursor: pointer;
        background-image: url(../assets/icons/arrow-carousel.svg);
        background-size: 20px;
        width: 35px;
        height: 35px;
        background-color: #ffffff7e;
        border-radius: 50%;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .rightArrow {
        transform: translate(0, -50%);
        right: 12px;
    }

    .leftArrow {
        transform: translate(0, -50%) rotate(180deg);
        left: 12px;
    }

    .carouselDots {
        display: flex;
        gap: 15px;
        position: absolute;
        bottom: 15px;
        width: 100%;
        justify-content: center;
    }

    .carouselDots>.dot {
        transition: all ease .3s;
        width: 12px;
        height: 12px;
        background-color: rgb(255, 255, 255);
        display: block;
        border: 1px solid rgb(125, 125, 125);
        border-radius: 50%;
    }

    .carouselDots>.dot.active {
        border: 1px solid #005bda;
        background-color: #005bda;
    }

    .propertyImages {
        display: none;
    }




    .properyDetailModal>.closeModal {
        z-index: 9;
        top: 20px;
        left: 20px;
        background-size: 40px;
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.47);
    }

    .properyDetailModal {
        height: calc(100vh - 60px);
    }

    .properyDetailSection {
        top: 60px;
    }

    .properyDetailModal {
        display: block;
        overflow-y: scroll;
    }


    .propertyDetails {
        width: 100%;
        padding: 10px 0 40px 0;
    }

    .propertyInfoDiv {
        overflow: hidden;
    }

    .propertyDetailslogoDiv {
        display: none;
    }

    .propertyTitleDiv hr:nth-child(2) {
        display: none;
    }

    .propertyDetails>.propertyTitleDiv>.priceDiv h2 {
        font-size: 45px;
    }

    .propertyDetails>.propertyTitleDiv>.priceDiv {
        align-items: center;
    }

    .propertyDetails>.propertyTitleDiv>.address {
        font-size: 18px;
    }

    .propertyDetails .beds-baths-sqft {
        font-size: 20px;
    }

    .propertyDetails>.propertyTitleDiv>.contactAgent {
        font-size: 19px;
    }

    .generalInfoDiv p {
        font-size: 19px;
    }

    .generalInfoDiv h3,
    .descriptionDiv h3 {
        font-size: 25px;
    }

    .generalInfoDiv p span {
        background-size: 28px;
        width: 42px;
        height: 34px;
    }

    .generalInfoDiv .beds span,
    .generalInfoDiv .baths span,
    .generalInfoDiv .lotSize span {
        background-size: 28px;

    }

    .favoriteButton {
        font-size: 17px;
    }


}

@media all and (max-width: 600px) {
    .propertyImagesCarouselMobile {
        display: block;
        width: 100%;
        height: fit-content;
        margin: 0 auto;
    }

    .carouselImages ul>li>img {
        height: auto;
        width: 100%;
    }

    .properyDetailModal>.closeModal {
        background-size: 35px;
        width: 45px;
        height: 45px;
    }

    .propertyDetails>.propertyTitleDiv>.priceDiv h2 {
        font-size: 38px;
        margin-top: 0;
    }

    .propertyDetails {
        width: 100%;
        height: auto;
        padding: 25px 0 40px 0;
    }

    .propertyImages .mainImage {
        width: 100%;
    }

    .propertyImages .image {
        width: 100%;
    }

    .propertyDetails>.propertyTitleDiv>.address {
        font-size: 16px;
    }

    .propertyDetails .beds-baths-sqft {
        font-size: 17px;
    }

    .propertyDetails>.propertyTitleDiv>.contactAgent {
        font-size: 17px;
    }

    .generalInfoDiv p {
        font-size: 17px;
    }


    .generalInfoDiv h3,
    .descriptionDiv h3 {
        font-size: 20px;
    }

    .generalInfoDiv p span {
        background-size: 22px;
        width: 32px;
        height: 28px;
    }

    .generalInfoDiv .beds span,
    .generalInfoDiv .baths span,
    .generalInfoDiv .lotSize span {
        background-size: 22px;

    }

    .favoriteButton {
        font-size: 15px;
    }

    .contactOwnerModal>.generalModalDiv {
        width: 90%;
        height: 550px;
    }

    .generalModalContent textarea {
        height: 100px;
    }

    .carouselDots>.dot {
        width: 9px;
        height: 9px;
    }
}