nav{
    display: flex;
    justify-content: space-around;
    height: 79px;
    /* background-color: antiquewhite; */
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
}
header{
    z-index: 9999;
    box-shadow: 0px 0px 5px 2px #c0c0c03d;
    position: relative;
}

nav h1{
    background-image: url(../assets/imgs/logo-test.svg);
    width: 150px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150px;
    overflow: hidden;
}
nav h1 a{
    padding-left: 500px;
}
.logoDiv{
    display: flex;
    justify-content: center;
    width: 30%;
}
.ulNavbar {
    display: flex;
    justify-content: center;
    width: 35%;
    margin: auto;
}
.ulNavbar > ul{
    padding: 0;
    display: flex;
    gap: 55px;
    align-items: center;
}
.ulNavbar > ul li{
    list-style-type: none;
}
.ulNavbar > ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all ease .3s;
}
.ulNavbar > ul li a:hover{
    color: #006aff;
}

.ulNavbar > ul .signUpButton button {
    background-color: #1a79ffe4;
    border-radius: 14px;
    padding: 11px 30px;
    font-weight: 600;
    font-size: 17px;
    color: white;
    border: 0;
    /* box-shadow: 0px 0px 5px 2px #2e85ff3d; */
    cursor: pointer;
    transition: all ease .4s;
}
.ulNavbar > ul .signUpButton button:hover {
    background-color: #006aff;
}