nav {
    display: flex;
    justify-content: space-around;
    height: 79px;
    /* background-color: antiquewhite; */
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 5px 2px #c0c0c03d;
    z-index: 99999;
}

header {
    position: relative;
}

.logo {
    background-image: url(../assets/imgs/logo.svg);
    width: 170px;
    margin: 0;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 170px;
    overflow: hidden;
}

.logo a {
    padding-left: 200px;
}

.logoDiv {
    display: flex;
    justify-content: center;
    width: 30%;
}

.ulNavbar {
    display: flex;
    position: relative;
    justify-content: center;
    width: 35%;
    margin: auto;
}

.ulNavbar>ul {
    padding: 0;
    display: flex;
    gap: 55px;
    align-items: center;
    margin: 0;
}

.ulNavbar>ul li {
    list-style-type: none;
    align-items: center;
    display: flex;
}

.ulNavbar>ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all ease .3s;
}

.ulNavbar>ul li a:hover {
    color: #006aff;
}

.signUpButton button,
.dashboard,
.blueButton {
    text-decoration: none;
    background-color: #1a79ffe4;
    border-radius: 14px;
    padding: 11px 30px;
    font-weight: 600;
    font-size: 17px;
    color: white !important;
    border: 0;
    /* box-shadow: 0px 0px 5px 2px #2e85ff3d; */
    cursor: pointer;
    transition: all ease .4s;
}

.signUpButton button:hover,
.dashboard:hover,
.blueButton:hover {
    background-color: #006aff;
}

.profileItem {
    position: relative;
}

.profileSubMenu {
    box-sizing: border-box;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
    border-radius: 0px 0px 10px 10px;
    top: calc(79px - 13.5px);
    width: 300px;
    right: -10px;
    box-shadow: 0px 4px 5px 2px #c0c0c03d;
}

.profileSubMenu ul {
    padding: 0;
}

.profileSubMenu ul li {
    list-style-type: none;
    /* border-radius: 10px; */
    transition: all ease .3s;
}

.profileSubMenu ul li:hover {
    background-color: rgb(241, 241, 241);
}

.profileSubMenu ul li a {
    font-size: 16px;
    padding: 15px 20px;
    width: 100%;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.profileSubMenu ul li:hover a {
    color: black;
}

.profileSubMenu hr {
    /* margin: 0; */
    border: 0;
    background-color: rgb(220, 220, 220);
    width: 100%;
    height: 2px;
}

.profileSubMenu .logOutButton {
    padding: 15px 20px 10px 20px;
    color: rgb(15, 115, 255);
    font-weight: 600;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    outline: 0;
    transition: all ease .3s;
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 10px;
}

.profileSubMenu .logOutButton::before {
    content: '';
    width: 20px;
    display: inline-block;
    height: 20px;
    background-image: url(../assets/icons/logout.svg);
    background-size: 19px;
    background-position: center;
    background-repeat: no-repeat;
}

.profileSubMenu .logOutButton:hover {
    background-color: rgb(241, 241, 241);
    /* opacity: .7; */
}

.backgroundSubmenu {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.012);
}


.displayMobileNav {
    display: none;
}

.hideMobileNav {
    display: flex;
}

@media all and (max-width: 1200px) {
    .ulNavbar>ul {
        gap: 30px;
    }
}

@media all and (max-width: 900px) {
    nav {
        z-index: 999999;
    }

    .displayMobileNav {
        display: flex !important;
        background-color: transparent;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.293);
        box-shadow: none;
        height: 60px;
    }

    .hideMobileNav {
        display: none !important;
    }

    .burgerMenu {
        height: 28px;
        cursor: pointer;
        width: 28px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: 0;
        outline: 0;
        background-image: url(../assets/icons/burgerMenu.svg);
        background-size: 25px;
    }

    .ulNavbarMobile {
        display: flex;
        /* width: 20%; */
        box-sizing: border-box;
        margin: auto;
    }

    .ulNavbarMobileRight {
        /* padding: 0 40px 0 0; */
        justify-content: right;
    }

    .ulNavbarMobileLeft {
        padding: 0 0 0 20px;
        justify-content: left;
    }

    .ulNavbarMobile>ul {
        padding: 0;
        display: flex;
        gap: 55px;
        align-items: center;
        margin: 0;
    }

    .ulNavbarMobile>ul .signUpButton button {
        padding: 12px 16px;
    }

    .ulNavbarMobile>ul li {
        list-style-type: none;
        align-items: center;
        display: flex;
    }

    .menuMobile {
        width: 100vw;
        position: fixed;
        background-color: white;
        /* height: 100vh; */
        top: 0;
        left: 0;
        box-shadow: 0px 0px 5px 2px #a7a7a73d;
    }

    .menuMobile>.closeModal {
        top: 8px;
        left: 10px;
    }

    .logoDiv {
        margin: auto;
        height: 60px;
        display: flex;
        width: 50%;
        align-items: center;
    }

    .logo {
        width: 135px;
        background-size: 135px;
        height: 30px;
    }

    .profile {
        padding: 7px;
    }

    .profilePic {
        width: 19px;
    }

    .imageSet {
        padding: 0 !important;
        width: 40px;
        height: 40px;
        border: 2px solid #4492ffe4;
    }

    .menuMobile>.logoDiv>.logo {
        /* margin: 0 0 0 -17px; */
    }

    .menuMobile ul {
        padding: 0;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .menuMobile ul li {
        list-style-type: none;
        transition: all ease .3s;
        display: block;
    }

    .menuMobile ul li:hover {
        background-color: rgb(241, 241, 241);
    }

    .menuMobile ul li a {
        display: block;
        text-align: center;
        font-size: 16px;
        padding: 10px 0;
        width: 100%;
        color: black;
        font-weight: 600;
        text-decoration: none;
    }

    .ulNavbarMobile .profileSubMenu {
        border-radius: 10px;
        width: 200px;
        top: calc(79px - 29.5px);
    }

    .ulNavbarMobile .profileItem .profile {
        border: 2px solid #4492ffe4;
    }
}

@media all and (max-width: 650px) {
    .ulNavbarMobile>ul .signUpButton button {
        padding: 10px 14px;
        font-size: 15px;
    }
}

@media all and (max-width: 550px) {
    .ulNavbarMobile {
        width: 35%;
    }

    .ulNavbarMobileRight {
        padding: 0 10px 0 0;
        justify-content: right;
    }
}

@media all and (max-width: 420px) {
    .ulNavbarMobileRight {
        padding: 0 19px 0 0;
    }

    .ulNavbarMobileLeft {
        padding: 0 0 0 19px;
    }
}