.mainProfile {
    padding-top: 110px;
    margin: auto;
    background-color: rgb(249, 249, 249);
    padding-bottom: 80px;
}

.profileMenu {
    width: 1050px;
    margin: auto;
    margin-bottom: 30px;
}

.profileMenu h1 {
    margin-left: 40px;
    margin-bottom: 10px;
}

.profileOptions {
    display: flex;
    font-weight: 600;
    color: rgb(81, 81, 81);
    gap: 50px;
    margin: auto;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(215, 215, 215);
    margin-top: 35px;
}

.profileOptions li {
    list-style-type: none;
}

.profileOptions li a {
    color: black;
    text-decoration: none;
}

.profileOptions .active {
    color: rgb(29, 29, 29);
    position: relative;
}

.profileOptions .active::before {
    content: '';
    position: absolute;
    bottom: 0;
    margin-left: -15%;
    margin-bottom: -10px;
    left: 0;
    width: 130%;
    height: 3px;
    background-color: #3287ff;
    border-radius: 50px 50px 0 0;
    /* box-shadow: 0 0 2px 0 rgb(201, 201, 201); */
    animation: expand .15s ease-out;
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}

.profileContentDiv {
    width: 1250px;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 40px !important;
}

.profileContentDiv>div {
    width: 100%;
    margin-bottom: 30px;
}

.profileContentDiv>div>h2 {
    font-size: 23px;
    color: rgb(42, 42, 51);
    margin-bottom: 10px;
}

.accountSettings hr {
    background-color: rgb(212, 212, 212);
    border: 0;
    height: 1px;
    width: 100%;
}

.accountSetDiv {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.accountSetDiv .title {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
}

.accountSetDiv .description {
    margin-top: 0px;
    font-size: 15px;
    color: rgb(133, 133, 133);
}

.editProfileDiv {
    display: flex;
    align-items: center;
}

.editProfileDiv p {
    font-weight: 600;
    font-size: 16px;
}

.changePasswordButton {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #006aff;
    outline: 0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    color: #006aff;
    transition: all ease .3s;
}

.changePasswordButton:hover {
    opacity: .8;
}

/* Modals */

.nameModalDiv {
    height: 275px;
    width: 450px;
}

.emailModalDiv {
    height: 400px;
    width: 650px;
}

.imageModalDiv {
    height: 290px;
    width: 550px;
}

.deleteAccountModalDiv {
    height: 350px;
    width: 550px;
}



.profileModalDiv .generalModalContent label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: rgb(75, 75, 75);
}

.profileModalDiv .generalModalContent label span {
    color: rgb(17, 17, 17);
}

.profileModalDiv .generalModalContent input {
    width: calc(100% - 32px);
    padding: 10px 16px;
    background-color: rgb(246, 246, 250);
    border: 2px solid rgb(246, 246, 250);
    border-radius: 6px;
    outline: 1px solid rgb(209, 209, 213);
    color: rgb(42, 42, 51);
    font-weight: 400;
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 10px 0 30px 0;
    transition: all ease .3s;
}

.profileModalDiv .generalModalContent input:hover {
    border: 2px solid #72adff;
    outline: 1px solid rgb(255, 255, 255);
}

.profileModalDiv .generalModalContent input:focus-visible {
    border: 2px solid #3287ff;
    outline: 1px solid rgb(255, 255, 255);
}


.inputFile {
    background-color: transparent !important;
    border: 0 !important;
    outline: 0 !important;
    padding: 10px 0 !important;
    margin-bottom: 10px !important;
}

::-webkit-file-upload-button {
    background-color: #3287ff;
    padding: 13px 18px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all ease .3s;
    margin-right: 14px;
}

::-webkit-file-upload-button:hover {
    background-color: #006aff;
}



.profileModalActions {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
}

.profileModalDiv .title {
    font-weight: 600;
}

.profileModalDiv .warning {
    font-weight: 600;
    color: rgb(217, 21, 21);
    margin-top: 0px;
    margin-bottom: 50px;
}




.deleteAccountLabel {
    margin-top: 40px;
}



/* Favorite & Your Properties */

.savedPropertiesDiv {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    gap: 20px;
}

.favoriteProperty {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 7px 0 rgb(211, 211, 211);
}
.favoriteProperty > div{
    align-items: center;
    display: flex;

}

.contentFavoriteProperty {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.contentFavoriteProperty .imgDiv {
    width: 180px;
    height: 110px;
    align-items: center;
    margin-right: 20px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.contentFavoriteProperty div img {
    width: 100%;
    transition: all ease .3s;
}
.contentFavoriteProperty:hover div img {
    transform: scale(1.05);
}

.contentFavoriteProperty div h3 {
    align-items: center;
    display: flex;
    font-size: 26px;
    margin: 0;
}

.contentFavoriteProperty div h3 span {
    margin-left: 10px;
    font-size: 18px;
    color: #006aff;
}

.contentFavoriteProperty div p {
    font-weight: 500;
    color: #707070;
    margin: 10px 0 0 0;
}

.yourPropertiesButtons{
    display: flex;
    align-items: end!important;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}
.noPropertiesToShow{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.noPropertiesToShow img{
    opacity: .4;
    width: 150px;
}
.noPropertiesToShow a{
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}
.noPropertiesToShow p:nth-child(2){
    opacity: .4;
    margin: 10px 0;
    font-weight: 600;
    font-size: 22px;
}
.noPropertiesToShow p:nth-child(3){
    opacity: .4;
    margin: 10px 0;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.noPropertiesToShow p:nth-child(3) span{
    width: 20px;
    display: inline-block;
    height: 20px;
    background-image: url(../assets/icons/favorite-blue.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin: 0 6px;
}
