.mainProfile {
    padding-top: 110px;
    min-height: calc(100vh - 200px);
    box-sizing: border-box;
    margin: auto;
    background-color: rgb(249, 249, 249);
    padding-bottom: 80px;
}

.profileMenu {
    width: 1050px;
    margin: auto;
    margin-bottom: 30px;
}

.profileMenu h1 {
    margin-left: 40px;
    margin-bottom: 10px;
}

.profileOptions {
    display: flex;
    font-weight: 600;
    color: rgb(81, 81, 81);
    gap: 50px;
    margin: auto;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(215, 215, 215);
    margin-top: 35px;
}

.profileOptions li {
    list-style-type: none;
}

.profileOptions li a {
    color: black;
    text-decoration: none;
}

.profileOptions .active {
    color: rgb(29, 29, 29);
    position: relative;
}

.profileOptions .active::before {
    content: '';
    position: absolute;
    bottom: 0;
    margin-left: -15%;
    margin-bottom: -10px;
    left: 0;
    width: 130%;
    height: 3px;
    background-color: #3287ff;
    border-radius: 50px 50px 0 0;
    /* box-shadow: 0 0 2px 0 rgb(201, 201, 201); */
    animation: expand .15s ease-out;
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}

.profileContentDiv {
    width: 1250px;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 40px !important;
}

.profileContentDiv>div {
    width: 100%;
    margin-bottom: 30px;
}

.profileContentDiv>div>h2 {
    font-size: 23px;
    color: rgb(42, 42, 51);
    margin-bottom: 10px;
}

.accountSettings hr {
    background-color: rgb(212, 212, 212);
    border: 0;
    height: 1px;
    width: 100%;
}

.accountSetDiv {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.accountSetDiv .title {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
}

.accountSetDiv .description {
    margin-top: 0px;
    font-size: 15px;
    color: rgb(133, 133, 133);
}

.editProfileDiv {
    display: flex;
    align-items: center;
}

.editProfileDiv p {
    font-weight: 600;
    font-size: 16px;
}

.changePasswordButton {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #006aff;
    outline: 0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    color: #006aff;
    transition: all ease .3s;
}

.changePasswordButton:hover {
    opacity: .8;
}

/* Modals */

.nameModalDiv {
    height: 275px;
    width: 450px;
}

.emailModalDiv {
    height: 400px;
    width: 650px;
}

.imageModalDiv {
    height: 290px;
    width: 550px;
}

.deleteAccountModalDiv {
    height: 350px;
    width: 550px;
}



.profileModalDiv .generalModalContent label,
.contactOwnerModal .generalModalContent label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: rgb(75, 75, 75);
}

.profileModalDiv .generalModalContent label span,
.contactOwnerModal .generalModalContent label span {
    color: rgb(17, 17, 17);
}

.generalModalContent input,
.generalModalContent textarea {
    width: calc(100% - 32px);
    padding: 10px 16px;
    resize: none;
    background-color: rgb(246, 246, 250);
    border: 2px solid rgb(246, 246, 250);
    border-radius: 6px;
    outline: 1px solid rgb(209, 209, 213);
    color: rgb(42, 42, 51);
    font-weight: 400;
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 10px 0 30px 0;
    transition: all ease .3s;
}

.generalModalContent input:hover,
.generalModalContent textarea:hover {
    border: 2px solid #72adff;
    outline: 1px solid rgb(255, 255, 255);
}

.generalModalContent input:focus-visible,
.generalModalContent textarea:focus-visible {
    border: 2px solid #3287ff;
    outline: 1px solid rgb(255, 255, 255);
}


.inputFile {
    background-color: transparent !important;
    border: 0 !important;
    outline: 0 !important;
    padding: 10px 0 !important;
    margin-bottom: 10px !important;
}

::-webkit-file-upload-button {
    background-color: #3287ff;
    padding: 13px 18px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all ease .3s;
    margin-right: 14px;
}

::-webkit-file-upload-button:hover {
    background-color: #006aff;
}



.profileModalActions {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
}

.profileModalActions .button {
    margin: 0;
}

.profileModalDiv .title {
    font-weight: 600;
}

.profileModalDiv .warning {
    font-weight: 600;
    color: rgb(217, 21, 21);
    margin-top: 0px;
    margin-bottom: 50px;
}

.passwordModalDiv{
    height: 405px;
}


.deleteAccountLabel {
    margin-top: 40px;
}



/* Favorite & Your Properties */

.savedPropertiesDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notificationsDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.favoriteProperty {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 0 7px 0 rgb(211, 211, 211);
}

.favoriteProperty>div {
    align-items: center;
    display: flex;

}

.contentFavoriteProperty {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.contentFavoriteProperty .imgDiv {
    width: 180px;
    height: 110px;
    align-items: center;
    margin-right: 20px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.contentFavoriteProperty div img {
    width: 100%;
    transition: all ease .3s;
}

.contentFavoriteProperty:hover div img {
    transform: scale(1.05);
}

.contentFavoriteProperty div h3 {
    align-items: center;
    display: flex;
    font-size: 26px;
    margin: 0;
}

.contentFavoriteProperty div h3 span {
    margin-left: 10px;
    font-size: 18px;
    color: #006aff;
}

.contentFavoriteProperty div p {
    font-weight: 500;
    color: #707070;
    margin: 10px 0 0 0;
}

.yourPropertiesButtons {
    display: flex;
    align-items: end !important;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}

.noPropertiesToShow {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.noPropertiesToShow img {
    opacity: .4;
    width: 150px;
}

.noPropertiesToShow a {
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}

.noPropertiesToShow p:nth-child(2) {
    opacity: .4;
    margin: 10px 0;
    font-weight: 600;
    font-size: 22px;
}

.noPropertiesToShow p:nth-child(3) {
    opacity: .4;
    margin: 10px 0;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.noPropertiesToShow p:nth-child(3) span {
    width: 20px;
    display: inline-block;
    height: 20px;
    background-image: url(../assets/icons/favorite-blue.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin: 0 6px;
}

/* Notifications */

.refreshDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.refreshDiv p {
    opacity: .6;
    color: #006aff;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: all ease .3s;
}

.refreshDiv p span {
    content: '';
    margin-right: 4px;
    width: 20px;
    display: inline-block;
    height: 20px;
    background-image: url(../assets/icons/refresh.svg);
    background-size: 20px;
}

.refreshDiv p:hover {
    opacity: 1;
}


.notificationDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 20px 25px;
    border-radius: 5px;
    box-shadow: 0 0 7px 0 rgb(211, 211, 211);
}

.notificationProfileDiv {
    display: flex;
    justify-content: space-between;
}

.notificationNameDiv>p {
    margin-left: 20px;
}

.notificationProfileDiv .blueDot {
    width: 15px;
    height: 15px;
    margin-top: 5px;
    background-color: #2881ff;
    display: inline-block;
    border-radius: 50%;
}

.notificationProfileDiv h3 {
    margin: 0;
    margin-top: 5px;
}

.notificationProfileDiv span {
    font-size: 16px;
    color: #8c8c8c;
    font-weight: 500;
    margin-left: 12px;
}

.notificationProperty {
    justify-content: right;
    gap: 5px;
    display: flex;
    color: rgb(68, 68, 68);
    margin: 0;
    margin-top: 20px;
}

.notificationProperty span {
    font-weight: 600;
}

.notificationProperty a {
    color: #006aff;
    text-decoration: none;
    transition: all ease .3s;
    font-weight: 600;
}

.notificationProperty a:hover {
    color: #4391ff;
}


@media all and (max-width: 1500px) {
    .profileMenu {
        width: 950px;
    }

    .profileContentDiv {
        width: 1100px;
    }
}

@media all and (max-width: 1350px) {
    .profileMenu {
        width: 900px;
    }

    .profileContentDiv {
        width: 1050px;
    }

    .profileMenu h1 {
        font-size: 30px;
    }

    .profileContentDiv>div>h2 {
        font-size: 22px;
    }

    .profileOptions {
        font-size: 15px;
    }

    .editProfileDiv p {
        font-size: 15px;
    }

    .changePasswordButton {
        font-size: 14px;
    }
}

@media all and (max-width: 1100px) {
    .profileMenu {
        width: 760px;
    }

    .profileOptions {
        font-size: 14px;
        margin-top: 30px;
    }

    .profileContentDiv {
        width: 880px;
    }

    .accountSetDiv .title {
        font-size: 15px;
    }

    .accountSetDiv .description {
        font-size: 14px;
    }

    .editProfileDiv p {
        font-size: 14px;
    }

    .profileContentDiv {
        width: 95%;
    }

    .profileMenu {
        width: 80%;
    }


    .noPropertiesToShow img {
        width: 130px;
    }

    .noPropertiesToShow p:nth-child(2) {
        font-size: 20px;
    }

    .noPropertiesToShow p:nth-child(3) {
        font-size: 17px;
    }
}

@media all and (max-width: 900px) {
    .mainProfile {
        padding-top: 75px;
    }

    .editProfileDiv {
        justify-content: space-between;
    }

    .accountSetDiv {
        display: block;
    }

    .accountSetDiv .title {
        margin-top: 0;
    }

    .accountSetDiv {
        margin: 15px;
    }

    .profileContentDiv>div>h2 {
        margin: 10px 15px 30px 15px;
    }

    .profileContentDiv {
        padding: 20px 16px !important;
    }

    .profileOptions {
        font-size: 14px;
        padding: 0 0 10px 0;
        justify-content: space-around;
        gap: 0;
    }


    .noPropertiesToShow img {
        width: 120px;
    }

    .noPropertiesToShow p:nth-child(2) {
        font-size: 21px;
    }

    .noPropertiesToShow p:nth-child(3) {
        font-size: 15px;
    }

    .noPropertiesToShow p:nth-child(3) span {
        width: 18px;
        height: 18px;
        background-size: 18px;
    }
}

@media all and (max-width: 700px) {
    .profileOptions {
        font-size: 13px;
    }

    .profileOptions .active::before {
        margin-left: -10%;
        width: 120%;
    }

    .notificationProperty {
        display: block;
    }

    .notificationProperty>a {
        margin-left: 4px;
    }

    .notificationProperty>span {
        margin-right: 2px;
    }
}

@media all and (max-width: 600px) {
    .profileMenu {
        width: 98%;
    }

    .accountSetDiv {
        margin: 15px 0;
    }

    .profileContentDiv>div>h2 {
        margin: 10px 0px 30px 0px;
        font-size: 21px;
    }

    .profileOptions li {
        list-style-type: none;
        display: flex;
        text-align: center;
        align-items: center;
        width: 25%;
        justify-content: center;
    }

    .profileOptions .active::before {
        margin-left: 20%;
        width: 60%;
    }

    .noPropertiesToShow p:nth-child(2) {
        font-size: 23px;
    }

    .noPropertiesToShow p:nth-child(3) {
        font-size: 16px;
    }

    .noPropertiesToShow p:nth-child(3) span {
        width: 16px;
        height: 16px;
        background-size: 16px;
        margin: 0 2px -3px 2px;
    }

    .noPropertiesToShow p:nth-child(3) {
        display: inline-block;
        margin: 0;
    }

    .profileContentDiv>div {
        margin-bottom: 12px;
    }

    .contentFavoriteProperty .imgDiv {
        margin: 0;
        width: 100%;
    }

    .favoriteProperty {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }

    .contentFavoriteProperty {
        align-items: baseline;
        flex-direction: column;
        gap: 20px;
    }

    .contentFavoriteProperty div p {
        font-size: 14px;
    }

    .favoriteProperty>div {
        justify-content: center;
        align-items: center !important;
    }

    .removeFavoriteButton {
        width: 100%;
        justify-content: center;
    }


    .savedPropertiesDiv {
        margin-top: 0;
    }

    /* .yourPropertiesButtons{
        align-items: ;
    } */

    .notificationProfileDiv .blueDot {
        display: none;
    }

    .notificationProfileDiv span {
        display: block;
        margin: 0;
    }

    .notificationMessage {
        margin-top: 20px;
    }
}