/* Filters */
.filtersHeader {
    width: 100vw;
    /* height: 50px; */
    margin-top: 79px;
    padding: 6px 40px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    gap: 20px;
    background-color: white;
    /* box-shadow: 0px 0px 5px 2px #c0c0c03d; */
    z-index: 9998;
    border: 1px solid gainsboro;
}

.filterButton {
    padding: 9px 20px;
}

.removeFiltersButton {
    color: #4a96ff;
    border: 2px solid #4a96ff;
}

.removeFiltersButton:hover {
    border: 2px solid #006aff;
    color: #006aff;
}

.locationSearchDiv {
    display: flex;
    align-items: center;
    position: relative;
}

.locationInput {
    width: 355px;
}

.locationSearchIcon {
    position: absolute;
    margin: 0;
    top: 10px;
    right: 20px;
    width: 22px;
    height: 22px;
    background-size: 24px;
    background-image: url(../assets/icons/search-icon-black.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.locationSuggestionsDiv {
    position: absolute;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100px;
    border-radius: 0 0 10px 10px;
}

.locationSuggestion {
    background-color: #f8f8f8;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    transition: all ease .2s;
    cursor: pointer;
}

.locationSuggestionLoading {
    background-color: rgb(226, 226, 226);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    display: block;
    animation: loadingMapSkeleton 1.5s infinite;
}

.locationSuggestion:hover {
    background-color: #e1e1e1;
}


.arrow {
    display: inline-block;
    border-left: 2px solid rgba(0, 0, 0, 0.923);
    border-bottom: 2px solid rgba(0, 0, 0, 0.923);
    height: 8px;
    margin-left: 12px;
    width: 8px;
    transform: rotate(-45deg);
    margin-top: -4px;
}

.x {
    display: inline-block;
    background-image: url(../assets/icons/x.svg);
    background-size: 32px;
    background-position: center center;
    height: 15px;
    opacity: .5;
    width: 15px;
    margin-left: 12px;
}

.arrowActive {
    transform: rotate(135deg);
    margin-top: 4px;
}

.filtersDropdown {
    position: absolute;
    background-color: white;
    box-shadow: 0px 10px 5px 2px #c0c0c03d;
    margin-top: 7px;
    border-radius: 0 0 10px 10px;
}

.filterTitle {
    width: 100%;
    font-weight: 600;
    background-color: #ececec;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    box-sizing: border-box;
}

.filterSubTitle {
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}

.individualFilterDropdown {
    position: relative;
    height: 100px;
}

.individualFilterDropdown .individualFilterButton {
    display: flex;
    align-items: center;
}

.individualFilterDropdown .individualFilterButton>input {
    width: 110px;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    color: rgb(94, 94, 94);
    background-color: rgb(247, 247, 247);
    border: 1px solid #cdcdcd;
    outline: 0;
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.individualFilterDropdown .individualFilterButton>.arrow {
    position: absolute;
    right: 20px;
    margin-top: 13px;
    opacity: .7;
}

.individualFilterDropdown .individualFilterButton>.arrowActive {
    margin-top: 20px;
}

.hideOptions {
    visibility: hidden;
    opacity: 0;
}

.individualFilterDropdown .filterOptions {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    font-size: 16px;
    z-index: 1;
    background-color: #fff;
    border-radius: 0px 0 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
}

.individualFilterDropdown .filterOptions .option-item {
    font-size: 17px;
    font-weight: 600;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(94, 94, 94);
}

.applyFilterDiv {
    padding: 5px 20px 20px 20px;
}

.applyFilterDiv button {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #207dff;
    color: white;
    font-weight: 600;
    font-size: 18px;
    outline: 0;
    border: 0;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    transition: all ease .3s;
}

.applyFilterDiv button:hover {
    background-color: #006aff;

}


.priceFilters {
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 10;
    padding: 10px 20px 20px 20px;
}

.bathsOptions {
    padding: 10px 20px 20px 20px;
}

.bathsOptions>div {
    display: flex;
}

.bathsOptions>div:nth-child(2) {
    margin-bottom: 30px;
}

.bathsOptions>div:nth-child(4) {
    margin-bottom: 10px;
}

.bathsOptions>div>p {
    padding: 10px 12px;
    font-family: 'Roboto', sans-serif;
    color: rgb(94, 94, 94);
    background-color: rgb(247, 247, 247);
    font-size: 17px;
    font-weight: 600;
    border: 1px solid transparent;
    outline: 1px solid #cdcdcd;
    width: 35px;
    text-align: center;
    margin: 0 -1px;
    cursor: pointer;
    transition: all ease .4s;
}

.bathsOptions>div>p:hover {
    background-color: rgb(232, 232, 232);
}

.bathsOptions>div>.first {
    border-radius: 5px 0px 0px 5px;
}

.bathsOptions>div>.last {
    border-radius: 0px 5px 5px 0px;
}

.bathsOptions>div>.active {
    z-index: 9;
    outline: 1px solid #1878ff;
    border: 1px solid #1878ff;
}

.hometypeOptions {
    padding: 10px 20px 10px 20px;

}

.hometypeOptions ul {
    padding: 0;
    margin: 0;
}

.hometypeOptions li {
    list-style-type: none;
    padding: 12px 0;
    align-items: center;
    display: flex;
    gap: 12px;
    cursor: pointer;
}

.hometypeOptions li p {
    margin: 0;
    padding: 0;
}

.hometypeOptions li .checkboxHometype {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #e7e7e7;
    border: 2px solid rgb(149, 149, 149);
    border-radius: 5px;
    transition: all ease .3s;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
}

.hometypeOptions li:hover .checkboxHometype {
    background-color: #e7e7e7;
    border: 2px solid #207dff;
    border-radius: 5px;
}

.hometypeOptions li .active {
    background-color: #207dff;
    border: 2px solid #207dff;
    background-image: url(../assets/icons/check.svg);
}

.hometypeOptions li:hover .active {
    background-color: #207dff;
    border: 2px solid #207dff;
    background-image: url(../assets/icons/check.svg);
}


/* Map */
.loadingMapSkeleton {
    width: 62vw;
    height: 100%;
    display: block;
    background-color: rgb(209, 209, 209);
    animation: loadingMapSkeleton 1.5s infinite;
}

@keyframes loadingMapSkeleton {
    0% {
        opacity: .3;
    }

    50% {
        opacity: .8;
    }

    100% {
        opacity: .3;
    }
}

.mapSection {
    background-color: #8c8c8c;
    position: fixed;
    width: 62vw;
    margin-top: calc(79px + 54px);
    height: calc(100% - 79px - 42px);
}

.map {
    width: 100%;
    height: 100%;
}

.mapMarker {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: block;
    border: 2px solid #ffffff;
    background-color: #003e96;
    transition: all ease .2s;
    position: relative;
}

.mapMarkerZindex {
    z-index: 10;
}

.mapMarkerHoverZindex {
    z-index: 20;
}

.mapMarkerHover {
    background-color: #006aff;
}

/* .mapMarkerDiv{
    z-index: 0;
    position: relative;
}
.mapMarkerDivHover{
    z-index: 99!important;
} */

.mapMarkerInfo {
    position: absolute;
    z-index: 0;
    margin-top: -82px;
    margin-left: -100px;
    width: 210px;
    box-sizing: border-box;
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 7px;
    box-shadow: 0px 0px 5px 2px #ababab3d;
    transition: all ease .3s;
    animation: opacityEase .3s linear;
}

@keyframes opacityEase {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.mapMarkerInfo .markerImg {
    width: 90px;
    height: 60px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    overflow: hidden;
    margin-right: 10px;
}

.mapMarkerInfo .markerImg img {
    width: 90px;
}

.mapMarkerInfo .markerData>h3 {
    margin: 0;
    font-size: 18px;
}

.mapMarkerInfo .markerData>p {
    margin: 5px 0 0 0;
}

.mapMarkerInfo .markerData .markerBaBd {
    display: flex;

}

.mapMarkerInfo .markerData .markerBaBd p {
    margin: 4px 5px 0 0;
    font-size: 13px;

}

.locationSeach {
    /* border-radius: 50%; */
    width: 40px;
    height: 40px;
    background-image: url(../assets/icons/pin.svg);
    background-position: center center;
    background-size: 40px;
    display: block;
    /* border: 2px solid #ffffff; */
    /* background-color: #960000; */
    transition: all ease .2s;
}


/* Home properties */

.homesSection {
    background-color: #ffffff;
    position: absolute;
    right: 0;
    width: 37vw;
    min-height: 100vh;
    margin-top: calc(79px + 54px);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 2px #ababab3d;
}

.homesSection h1 {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.homesSection .resultsCout {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    font-size: 16px;
    color: #898989;
    font-weight: 500;
}

.sortButton {
    display: flex;
    min-width: 200px;
    align-items: center;
    position: relative;
    justify-content: right;
    cursor: pointer;
}

.sortOptions {
    z-index: 999;
}

.sortButton .options {
    max-height: 400px;
}

.sortButton>p:nth-child(1) {
    margin: 0;
    display: flex;
    align-items: center;
}

.sortButton>.arrow {
    margin-top: 10px;
}

.sortButton>.arrowActive {
    margin-top: 20px;
}

.sortButton p {
    color: #006aff;
    font-weight: 600;
    font-size: 15px;
}

.sortButton .arrow {
    border-color: #006aff;
    color: #006aff;
}

.homesSectionDescriptionDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Properties */

.homesDiv>.propertyDiv {
    width: 49%;
    margin-bottom: 2%;
}

.homesImageContent {
    height: 180px;
}

.homesDiv>.propertyDiv .imageDiv {
    height: 180px;
}

.homesDiv>.propertyDiv .imagePropertyDiv {
    height: 180px;
}



.desktopFilters {
    display: flex;
    gap: 15px;
}

.mobileFilters {
    display: none;
}

@media all and (max-width: 1550px) {
    .homesSection {
        width: 40vw;
    }

    .mapSection {
        width: 59vw;
    }
}

@media all and (max-width: 1450px) {
    .homesSection {
        width: 45vw;
    }

    .mapSection {
        width: 54vw;
    }
}

@media all and (max-width: 1300px) {
    .homesSection {
        width: 30vw;
    }

    .mapSection {
        width: 69vw;
    }

    .loadingMapSkeleton {
        width: 69vw;
    }


    .homesDiv {
        justify-content: center;
    }

    .homesDiv>.propertyDiv {
        width: 95%;
    }

    .loadingPropertyMap {
        width: 95%;
    }

    .filterButton {
        font-size: 15px;
    }

    .locationInput {
        width: 280px;
        font-size: 15px;
    }

    .priceFilters {
        padding: 10px 20px 10px 20px;
    }

    .bathsOptions>p {
        font-size: 15px;
    }

    .bathsOptions>div>p {
        font-size: 16px;
    }

    .individualFilterDropdown .individualFilterButton>input {
        padding: 14px 15px;
        font-size: 16px;
    }

    .filterSubTitle {
        font-size: 15px;
    }
}

@media all and (max-width: 1150px) {
    .filtersHeader {
        padding: 6px 15px;
        gap: 15px;
    }

    .filterButton {
        padding: 9px 15px;
    }

    .locationInput {
        width: 240px;
    }

    .homesSection {
        width: 35vw;
    }

    .mapSection {
        width: 64vw;
    }

    .homesDiv {
        justify-content: center;
    }

    .homesDiv>.propertyDiv {
        width: 95%;
    }
}

@media all and (max-width: 1000px) {
    .mapSection {
        display: none;
    }
    .fiterMobileButton, .mobileFiltersDiv > .locationSearchDiv {
        display: none;
    }
    
    .homesSection {
        width: 100%;
        position: relative;
        margin-top: 0;
        padding-top: calc(79px + 70px);
    }

    .homesDiv>.propertyDiv {
        width: 30vw;
    }

    .loadingPropertyMap {
        width: 30vw;
    }

    .homesDiv {
        justify-content: space-between;
    }
}

@media all and (max-width: 900px) {
    .homesDiv>.propertyDiv {
        width: 45vw;
    }

    .loadingPropertyMap {
        width: 45vw;
    }

    .desktopFilters {
        display: none;
    }

    .mobileFilters {
        display: block;
    }

    .filtersHeader {
        margin-top: 60px;
        border: 0;
    }

    .mobileFiltersDiv {
        position: fixed;
        top: 107px;
        left: 30px;
        background-color: white;
        border-radius: 0 0 10px 10px;
    }

    .homesSection {
        width: 100%;
        position: relative;
        margin-top: 0;
        padding-top: calc(79px + 54px);
    }
}

@media all and (max-width: 700px) {
    .homesDiv>.propertyDiv {
        width: 44vw;
    }

    .loadingPropertyMap {
        width: 44vw;
    }
}

@media all and (max-width: 600px) {
    .homesDiv>.propertyDiv {
        width: 95vw;
    }
    .homesDiv{
        justify-content: center;
        display: block;
    }
    .homesSection{
        padding: 12px;
        padding-top: calc(79px + 54px);
    }
    .loadingPropertyMap {
        width: 100%;
    }
    .infoDiv .address{
        padding-bottom: 15px;
    }  
}

@media all and (max-width: 420px) {
    .mobile420Hide {
        display: none;
    }
    .infoDiv .address{
        max-width: 300px;
    }
    
    .mobile420Display {
        display: block;
    }

    .filtersHeader {
        padding: 0;
        justify-content: center;
    }
    
    .mobileFilters {
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .mobilesFiltersDivOpen {
        height: calc(100vh - 60px);
        overflow-y: scroll;
    }

    .generalInput {
        width: 100%;
        justify-content: space-between;
    }

    .mobileFiltersDiv {
        top: 0;
        left: 0;
        position: relative;
        /* padding: 30px; */
        padding-top: 40px;
        box-sizing: border-box;
    }

    .removeFiltersDiv {
        display: none;
    }

    .locationSuggestionsDiv {
        z-index: 999;
    }

    .fiterMobileButton {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .fiterMobileButton>button {
        width: 100%;
    }

    .individualFilterDropdown {
        width: 50%;
    }

    .individualFilterDropdown .individualFilterButton>input {
        padding: 14px 0 14px 20px;
        width: 100%;
    }

    .bathsOptions,
    .hometypeOptions {
        padding: 10px 0;
    }

    .priceFilters {
        padding: 10px 0;
        justify-content: space-between;
    }

    .generalInput {
        box-sizing: border-box;
    }
}