body {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 2000px;
    margin: auto;
}
/* Button */
.button{
    padding: 8px 12px;
    border: 0;
    outline: 0;
    gap: 8px;
    font-weight: 600;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    background-color: #1f7cff;
    transition: all ease .3s;
    padding: 11px 30px;
}
.button:hover{
    background-color: #006aff;
}
/* Messages */
.successMessage,
.errorMessage {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 999999;
    animation: up 4.1s forwards;
}

.successMessage>p,
.errorMessage>p {
    margin: 5px;
    color: white;
}

.successMessage {
    background-color: rgb(57, 170, 57);
}
.errorMessage {
    background-color: rgb(173, 61, 61);
}

@keyframes up {
    0% {
        transform: translateY(30px);
    }

    15% {
        transform: translateY(0px);
    }

    85% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(40px);
    }

}

/* Profile Picture */
.profile {
    width: 28px;
    display: flex;
    height: 28px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(221, 221, 221);
    border: 2px solid rgb(208, 208, 208);
    transition: all ease .4s;
    margin: 0;
}

.profile:hover {
    border: 2px solid #1a79ffe4;
}

.profileUser:hover {
    cursor: pointer;
    border: 2px solid rgb(208, 208, 208);
}

.profileUser {
    cursor: auto !important;
    border: 2px solid rgb(208, 208, 208);
}

.profile .profilePicItem {
    align-items: center;
    display: flex;
}

.profilePic {
    width: 21px;
    align-items: center;
    padding: 10px;
}

.imageSet {
    padding: 0;
    width: 48px;
    height: 48px;
    border: 2px solid #4492ffe4;
}

.imageSet:hover {
    padding: 0;
    width: 48px;
    height: 48px;
    border: 2px solid #006aff;
}

.imageSet .profilePicItem {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.imageSet .profilePicItem .profilePic {
    padding: 0;
    width: 100%;
}

.chart_div,
.whiteBackground {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 0px 5px 2px #c0c0c03d;
    box-sizing: border-box;
}

/* Modal */
.generalModal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.generalModalBackground {
    background-color: rgba(0, 0, 0, 0.38);
    height: 100vh;
    width: 100vw;
    display: inline-block;
    cursor: auto;

}

.generalModalDiv {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    height: 450px;
    width: 450px;
}

.generalModalContent {
    padding: 30px 30px;
}

.generalModalContent h3 {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-image: url(assets/icons/x.svg);
    background-position: center;
    background-size: 38px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    transition: all ease .3s;
}

.closeModal:hover {
    background-color: rgba(0, 0, 0, 0.075);
    background-image: url(assets/icons/x.svg);
}

/* Errors */
.errorInput {
    border: 2px solid #ff3232 !important;
    outline: 1px solid rgb(255, 255, 255);
}

.errorText {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 13px;
    color: #ff3232;
    font-weight: 600;
}

.disabled {
    opacity: .5;
    cursor: auto !important;
}

.disabled:hover {
    opacity: .5 !important;
}


/* Favorite message */

.favoriteButton, .removeFavoriteButton, .submitButton {
    padding: 8px 12px;
    border: 0;
    outline: 0;
    align-items: center;
    display: flex;
    gap: 8px;
    font-weight: 600;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    background-color: #1f7cff;
    transition: all ease .3s;
}

.favoriteButton:hover, .removeFavoriteButton:hover {
    background-color: #0464ea;
}

.favoriteButton::before, .removeFavoriteButton::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    outline: 0;
    height: 20px;
    width: 20px;
}
.favoriteButton::before {
    background-size: 20px;
    background-image: url(assets/icons/favorite.svg);
}
.removeFavoriteButton::before {
    background-size: 15px;
    background-image: url(assets/icons/trash.svg);

}

.favoriteButtonActive::before {
    background-image: url(assets/icons/favorite-filled.svg);
}

.requiredField{
    color: #d52121;
    font-size: 12px;
}

/* General Input */
.generalInput {
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    background-color: white;
    border: 2px solid #cdcdcd;
    color: rgba(0, 0, 0, 0.923);
    outline: 0;
    transition: all ease .3s;
    align-items: center;
    display: flex;
    padding: 9px;
}

.generalInput:hover {
    border: 2px solid #006aff;
}

.generalInput:focus-visible {
    border: 2px solid #006aff;
}